/*Tag selectors*/
body {
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    overflow-x: hidden;
}

h1 {
    font-family: 'Bellefair', serif;
    font-size: 9.525rem;
    text-transform: uppercase;
}

h2 {
    font-family: 'Bellefair', serif;
    font-size: 6.25rem;
    text-transform: uppercase;
}

h3 {
    font-family: 'Bellefair', serif;
    font-size: 3.65rem;
    text-transform: uppercase;
}

h4 {
    font-size: 2.15rem;
    font-family: 'Bellefair', serif;
    text-transform: uppercase;  
}

h5 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.9rem;
    letter-spacing: 4.75px;
    text-transform: uppercase;
    color: #D0D6F9;
}

h5 strong {
    color: rgb(72, 74, 81);
    margin-right: 16px;
}

p {
    color: #D0D6F9;
    line-height: 2;
    font-size: 1.2rem;
}

/*Class selectors*/
.subheading-one {
    font-family: 'Bellefair', serif;
    text-transform: uppercase;
    font-size: 1.9rem;
}

.subheading-two {
    font-family: 'Barlow Condensed', sans-serif;
    text-transform: uppercase;
    font-size: 1.025rem;
    letter-spacing: 2.35px;
    margin-bottom: 0;
}

.nav-row {
    margin-bottom: 10rem;
    margin-top: 2rem;
}