/*Tag selectors*/
body { 
    background-image: url("../assets/crew/background-crew-desktop.jpg");
    background-color: rgb(11, 14, 23);   
}

h4  {
    color: rgb(145, 146, 151);
}

/*Class selectors*/
.crew-subtitle {
    margin-bottom: 50px;
}

.crew-details {
    margin-top: 100px;
}

.crew-slide {
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
}

.crew-slide:hover {
    background-color: rgb(133, 134, 139);
}

.idle-crew-slide {
    background-color: rgb(53, 55, 63);
}

.active-crew-slide {
    background-color: white;
}

.crew-image-container {
    position: relative;
}

.crew-image-container img {
    position: absolute;
}

.commander-image {
    width: 65%;  
    right: 0;
}

.engineer-image {
    width: 100%;
    top: 0;
    right: 0;
}

.pilot-image {
    width: 90%;
    right: 0;
}

.specialist-image {
    width: 85%;
    right: 0;
}

.nav-crew li {
    display: inline-block;
}

.nav-crew-container {
    padding: 50px 0;
}

.content-mobile {
    display: none;
}

/*! Small laptop size */
@media (min-width: 992px) and (max-width: 1199px) {
    body {
        text-align: center;
    }
    .nav-crew-container {
        margin: auto;
    }

    .crew-image-container img {
        bottom: 0;
        top: auto;
    }
}

/*! Tablet size */
@media (min-width: 768px) and (max-width: 991px) {
    body {
        background-image: url("../assets/crew/background-crew-tablet.jpg");
        text-align: center;
    }

    p {
        width: 75%;
        margin: auto auto 50px auto;
    }

    .nav-crew-container {
        margin: auto;
    }

    .specialist-image {
        width: 60%;
        right: 20%;
    }

    .pilot-image {
        width: 70%;
        right: 15%;
    }

    .commander-image {
        right: 15%;
    }
    
    .engineer-image {
        width: 70%;
        right: 15%;
        top: 0;
    }
}

/*! Mobile size */
@media (max-width: 767px) {
    body {
        background-image: url("../assets/crew/background-crew-mobile.jpg");
        text-align: center;
        padding-bottom: 50px;
    }

    p {
        width: 95%;
        margin: auto;
    }

    hr {
        margin: auto;
        width: 80%;
        backdrop-filter: blur(30px);
    }

    .crew-image-container img {
        position: static;
    }

    .nav-crew-container {
        margin: auto;
        padding: 40px 0;
    }

    .nav-crew-container .nav-link {
       padding: 8px 16px;
    }

    .crew-details {
        margin-top: 0px;
    }

    .commander-image {
        width: 50%;
    }

    .engineer-image {
        width: 50%;
    }

    .pilot-image {
        width: 45%;
    }

    .specialist-image {
        width: 35%;
    }

    .nav-destination .nav-item{
        text-align: center;
    }

    .content-mobile {
        display: initial;
    }

    .content {
        display: none;
    }
}
