/*Tag selectors*/
body { 
    background-image: url("../assets/destination/background-destination-desktop.jpg");
    padding-bottom: 150px;
}

/*Class selectors*/
.destination-image {
    padding: 50px;
    width: 65%;
}

.nav-destination {
    margin-bottom: 30px;
}

.destination-image-container {
    text-align: center;
}

.nav-destination .nav-item{
    text-align: left;
}

.nav-destination li span {
    line-height: 50px;
}

.destination-subtitle {
    margin-bottom: 50px;
}

.destination-line {
    margin-top: 60px;
}

