/*Tag selectors*/
body { 
    background-image: url("../assets/destination/background-destination-desktop.jpg");
}

/*Class selectors*/
.destination-image {
    padding: 50px;
    width: 75%;
}

.nav-destination .nav-item{
    text-align: left;
}

.nav-destination li span {
    line-height: 50px;
}

.destination-subtitle {
    margin-bottom: 50px;
}

.container {
    padding-bottom: 100px;
}
