/*Tag selectors*/
body {
    background-image: url("../assets/home/background-home-desktop.jpg");
}

h4 {
    color: black;
    margin: 0;
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
}

/*Id selectors*/
#nav-row-index {
    margin-bottom: 20rem;
    margin-top: 2rem;
}

/*Class selectors*/
.content-row {
    margin-bottom: 10rem;
}

.explore-container {
    background-color: #fff;
    border-radius: 100%;
    aspect-ratio : 1 / 1;
    min-height: 70%;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 20%;
    left: 80%;
    transform: translateY(-50%);
    transform: translateX(-50%);
}

.explore-container:hover {
    outline: 75px solid rgb(36, 38, 47);
}

.explore-circle-container {
    position: relative;
}

.container {
    padding-bottom: 100px;
}


