/*Tag selectors*/
body { 
    background-image: url("../assets/home/background-home-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    overflow-x: hidden;
}

hr {
    position: absolute;
    width: 90%;
    left: 20%;
    top: 50%;
    margin: 0;
    z-index: 1;
}

img {
    width: 3.5rem;
    height: 3.5rem;
    margin-left: 2rem;
}

h1 {
    font-family: 'Bellefair', serif;
    font-size: 9.375rem;
    text-transform: uppercase;
}

h4 {
    font-size: 2rem;
    font-family: 'Bellefair', serif;
    text-transform: uppercase;  
    color: black;
    margin: 0;
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
}

h5 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.75rem;
    letter-spacing: 4.75px;
    text-transform: uppercase;
    color: #D0D6F9;
}

p {
    color: #D0D6F9;
    line-height: 2;
    font-size: 1.05rem;
}

nav {
    width: 100%
}

/*Class selectors*/
.navbar {
    background: linear-gradient(to right, rgba(21, 23, 33, 1) 10%, 
    rgba(55, 75, 107, 0.9) 25%, 
    rgba(92, 101, 121, 1) 35%, 
    rgb(47, 69, 104) 50%, 
    rgba(92, 101, 121, 1) 60%  ,
    rgba(22, 39, 67, 1) 80%);
    padding: 0;
}

.nav-link {
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 2.7px;
    color: white;
    font-size: 1rem;
    text-transform: uppercase;
}

.nav-height-max{
    height: 100%;
}

.nav-link {
    height: 100%;
    padding: 0 8px ;
}

.nav-link span {
    display: inline-block;    
    line-height: 100px;
}

.nav-link:hover {
    color: white;
}

.nav-link:focus {
    color: white;
}

.nav-link span:hover {
    text-decoration: none;
    border-bottom: 3px solid rgb(138, 139, 144);
}

.active span {
    border-bottom: 3px solid white;
}

.top-left-col {
    display: flex;
    position: relative;
    align-items: center;
}

.top-right-col {
    display: flex;
    position: relative;   
}

.nav-row {
    margin-bottom: 20rem;
    margin-top: 2rem;
}

.content-row {
    margin-bottom: 10rem;
}

.explore-container {
    background-color: #fff;
    border-radius: 100%;
    aspect-ratio : 1 / 1;
    height: 70%;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 20%;
    left: 80%;
    transform: translateY(-50%);
    transform: translateX(-50%);
}

.explore-circle-container {
    position: relative;
}

ul.nav {
    width: 100%;
}

