/*Tag selectors*/
nav {
    width: 100%;
}

/*Class selectors*/
.navbar-line {
    position: absolute;
    width: 85%;
    left: 20%;
    top: 50%;
    margin: 0;
    z-index: 1;
}

.nav-image {
    height: 50%;
    width: auto;
    margin-left: 2rem;
}

.navbar {
    padding: 0;
    backdrop-filter: blur(30px);
}

.nav-link {
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 2.7px;
    color: white;
    font-size: 1rem;
    text-transform: uppercase;
}

.nav-height-max{
    height: 100%;
}

.nav-link {
    height: 100%;
    padding: 0 8px ;
}

.nav-link span {
    display: inline-block;    
    line-height: 100px;
}

.nav-link:hover {
    color: white;
}

.nav-link:focus {
    color: white;
}

.nav-link span:hover {
    text-decoration: none;
    border-bottom: 3px solid rgb(138, 139, 144);
}

.active span {
    border-bottom: 3px solid white;
}

.top-left-col {
    display: flex;
    position: relative;
    align-items: center;
}

.top-right-col {
    display: flex;
    position: relative;   
}

ul.nav {
    width: 100%;
}


/*! Small laptop size */
@media (min-width: 992px) and (max-width: 1199px) {
    .navbar-line {
        display: none;
    }
}

/*! Tablet size */
@media (min-width: 768px) and (max-width: 991px) {
    .navbar-line {
        display: none;
    }
}

/*! Mobile size */
@media (max-width: 767px) {
    .navbar-line {
        display: none;
    }

    .nav-image {
        height: 50px;
        width: auto;
        margin-left: 2rem;
    }    

    .top-right-col {
        padding-right: 30px;
    }

    .top-left-col {
        align-items: flex-start;
    }

    .fa-bars {
        color: rgb(208, 214, 249);
    }

    .navbar-toggler {
        padding: 0.5rem 1rem;
    }
}

