/*Tag selectors*/
body {
    background-image: url("../assets/technology/background-technology-desktop.jpg"); 
    padding-bottom: 200px;
}

ul {
    height: 100%;
}

/*Class selectors*/
li {
    position: relative;
}

.technology-nav {
    height: 23rem;
}

.technology-nav .nav-link p {
  font-size: 2.2rem;
  font-family: 'Bellefair', serif;
  width: 100%;
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.technology-image-container {
    text-align: right;
}

.technology-subtitle {
    margin-bottom: 150px;
}
.technology-image {
    width: 85%;
}

.active-slide {
    background-color: white;
}

.active-slide p {
    color: black;
}

.technology-item{
    width: 100%;
}

.container-fluid {
   width: 90%;
   margin-right: 0;
}

.technology-slide-container {
    position: relative;
    aspect-ratio: 1 / 1;
    height: 5rem;
    width: auto; 
    outline: 2px solid gray;
    border-radius: 100%;
    text-align: center;
}

.technology-slide-container:hover {
    outline: 2px solid white;
}

.technology-content {
    width: 85%;
    margin: auto;
}

/*! Small laptop size */
@media (min-width: 992px) and (max-width: 1199px) {
    body {
        background-image: url("../assets/technology/background-technology-tablet.jpg"); 
    }
}

/*! Tablet-mobile common */
@media (max-width: 991px) {
    body {
        background-image: url("../assets/technology/background-technology-mobile.jpg"); 
        padding-bottom:  100px;
    }

    ul {
        margin: auto;
    }

    .technology-item {
        width: 33%;
        margin: auto;
    }

    .technology-item .nav-link {
        padding: 0;
    }

    .technology-nav {
        height: 10rem;
        width: 80% !important;
    }

    .technology-slide-container {
        height: 3.2rem;
        margin: auto;
    }

    .technology-nav .nav-link p {
        font-size: 1.5rem;
        left: 3%;
      }
       
    .technology-image-container {
        padding: 0;
    }
    .technology-image {
        width: 100%;
    }

    .technology-subtitle {
        margin-left: 3rem;
    }

    .technology-content {
        text-align: center;
    }

    .technology-subtitle {
        margin-bottom: 100px;
    }
}

/*! Tablet size */
@media (min-width: 768px) and (max-width: 991px) {
    .technology-slide-container {
        height: 5rem;
        margin: auto;
    }
}



